{% extends "pdf/base.html" %}
{% block title %}Accept CV{% endblock title %}

{% block body %}
    <div class="row">
        <div class="row m-5">
            <div class="col-md-12">
            <h4>Please fill out your details</h4>
            </div>
        </div>
            
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3 col-md-7">
                <label for="" class="form-label">Name</label>
                <input placeholder="Eg John Doe" type="text" class="form-control" id="name" name="name">
            </div>

            <div class="mb-3 col-md-7">
                <label for="" class="form-label">Email address</label>
                <input placeholder="Eg demo@gmail.com" type="email" class="form-control" id="email" name="email">
            </div>

            <div class="mb-3 col-md-7">
                <label for="" class="form-label">Phone</label>
                <input placeholder="Eg 9999999999" type="text" class="form-control" id="phone" name="phone">
            </div>

            <div class="mb-3 col-md-7">
                <label for="" class="form-label">About You</label>
                <textarea placeholder="Write something about you" class="form-control" id="summary" name="summary" rows="3"></textarea>
            </div>

            <div class="mb-3 col-md-7">
                <label for="" class="form-label">Degree</label>
                <input placeholder="B-Tech Information Technology" type="text" class="form-control" id="degree" name="degree">
            </div>

            <div class="mb-3 col-md-7">
                <label for="" class="form-label">School</label>
                <input placeholder="MIT" type="text" class="form-control" id="school" name="school">
            </div>

            <div class="mb-3 col-md-7">
                <label for="" class="form-label">University</label>
                <input placeholder="MIT" type="text" class="form-control" id="university" name="university">
            </div>

            <div class="mb-3 col-md-7">
                <label for="" class="form-label">Previous Work</label>
                <input placeholder="Programmer @ XYZ" type="text" class="form-control" id="previous_work" name="previous_work">
            </div>

            <div class="mb-3 col-md-7">
                <label for="" class="form-label">Skill</label>
                <textarea placeholder="eg C, C++, Python" class="form-control" id="skills" name="skills" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
{% endblock body %}